<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synth.mapper.AdminItemMapper">
<insert id="item_insert" parameterType="com.synth.domain.ItemVO">
	INSERT INTO
			ITEM_TBL 
			(
				ITEM_NO, 
				CG_CODE, 
				ITEM_NAME, 
				ITEM_PRICE, 
				ITEM_DISCOUNT, 
				ITEM_MANUFACTURE, 
				ITEM_CONTENT, 
				ITEM_UP_FOLDER, 
				ITEM_IMG, 
				ITEM_AMOUNT, 
				ITEM_BUY, 
				ITEM_SHORT_DETAIL, 
				ITEM_DATE, 
				ITEM_UPDATEDATE, 
				GRADE, 
				GEN, 
				RAM_TYPE, 
				M2, 
				F_FACTOR
			)
			VALUES
				(
					SEQ_ITEM_TBL.NEXTVAL, 
					#{cg_code},
					#{item_name},
					#{item_price},
					#{item_discount},
					#{item_manufacture},
					#{item_content},
					#{item_up_folder},
					#{item_img},
					#{item_amount},
					#{item_buy},
					#{item_short_detail},
					SYSDATE,
					SYSDATE,
					#{grade},
					#{gen},
					#{ram_type},
					#{m2},
					#{f_factor}
				)
</insert>
<sql id="criteria">
    <!-- prefixOverrides : 실행될 쿼리의 <trim> 문 안에 쿼리 가장 앞에 해당하는 문자들이 있으면 자동으로 지워준다 -->
       <trim prefix="(" suffix=") AND" prefixOverrides="OR">
          <foreach collection="typeArr" item="type"><!-- getType() 동작 -->
             <trim prefix="OR">
                <choose>
                   <when test="type == 'N'.toString()">
                      PRO_NAME like '%' || #{keyword} || '%'
                   </when>
                   <when test="type == 'C'.toString()">
                      PRO_NUM like '%' || #{keyword} || '%'
                   </when>
                   <when test="type == 'P'.toString()">
                      PRO_PUBLISHER like '%' || #{keyword} || '%'
                   </when>
                </choose>
             </trim>
          </foreach>
       </trim>
    </sql>
    
    <!-- CDATA section -->
    <select id="item_list" resultType="com.synth.domain.ItemVO" parameterType="com.synth.domain.Criteria">
      <![CDATA[
      SELECT
         	ITEM_NO, 
			CG_CODE, 
			ITEM_NAME, 
			ITEM_PRICE, 
			ITEM_DISCOUNT, 
			ITEM_MANUFACTURE, 
			ITEM_CONTENT, 
			ITEM_UP_FOLDER, 
			ITEM_IMG, 
			ITEM_AMOUNT, 
			ITEM_BUY, 
			ITEM_SHORT_DETAIL, 
			ITEM_DATE, 
			ITEM_UPDATEDATE, 
			GRADE, 
			GEN, 
			RAM_TYPE, 
			M2, 
			F_FACTOR
      FROM (
	            SELECT 
	            /*+INDEX_DESC(PRODUCT_TBL PK_ITEM_NO) */
	            ROWNUM RN, 
	            ITEM_NO, 
				CG_CODE, 
				ITEM_NAME, 
				ITEM_PRICE, 
				ITEM_DISCOUNT, 
				ITEM_MANUFACTURE, 
				ITEM_CONTENT, 
				ITEM_UP_FOLDER, 
				ITEM_IMG, 
				ITEM_AMOUNT, 
				ITEM_BUY, 
				ITEM_SHORT_DETAIL, 
				ITEM_DATE, 
				ITEM_UPDATEDATE, 
				GRADE, 
				GEN, 
				RAM_TYPE, 
				M2, 
				F_FACTOR
   		FROM 
      		ITEM_TBL
        WHERE
            ]]>
            <!-- refid : reference id -->
            <include refid="criteria"></include>
            
            <![CDATA[
            	ROWNUM <= #{pageNum} * #{amount}
         	 )
      			WHERE 
      				RN > (#{pageNum} -1) * #{amount}
      		]]>
    </select>
    
    <select id="getTotalCount" resultType="int">
       SELECT COUNT(*) FROM ITEM_TBL WHERE
       <!-- 검색에 대한 정보가 들어온다 -->
       <include refid="criteria"></include>
       <!-- 검색을 사용하지 않으면  -->
       ITEM_NO > 0
    </select>
    <update id="modify_checked_item" parameterType="Map">
    	UPDATE 
    		ITEM_TBL 
		SET 
    		ITEM_PRICE	= #{item_price}, 
    		ITEM_BUY	= #{item_buy}
    	WHERE
    		ITEM_NO		= #{item_no} 
    </update>
    
    <select id="item_edit" resultType="com.synth.domain.ItemVO">
    	SELECT
    		ITEM_NO, 
			CG_CODE, 
			ITEM_NAME, 
			ITEM_PRICE, 
			ITEM_DISCOUNT, 
			ITEM_MANUFACTURE, 
			ITEM_CONTENT, 
			ITEM_UP_FOLDER, 
			ITEM_IMG, 
			ITEM_AMOUNT, 
			ITEM_BUY, 
			ITEM_SHORT_DETAIL, 
			ITEM_DATE, 
			ITEM_UPDATEDATE, 
			GRADE, 
			GEN, 
			RAM_TYPE, 
			M2, 
			F_FACTOR
		FROM 
			ITEM_TBL
		WHERE
			ITEM_NO = #{item_no}
    </select>
    <update id="item_edit_success" parameterType="com.synth.domain.ItemVO">
    	UPDATE
    		ITEM_TBL
    	SET
    		
			CG_CODE				= #{cg_code}, 
			ITEM_NAME, 			= #{item_name}, 
			ITEM_PRICE, 		= #{item_price}, 
			ITEM_DISCOUNT, 		= #{item_discount},
			ITEM_MANUFACTURE, 	= #{item_manufacture},
			ITEM_CONTENT, 		= #{item_content},
			ITEM_UP_FOLDER, 	= #{item_up_folder},
			ITEM_IMG, 			= #{item_img},
			ITEM_AMOUNT, 		= #{item_amount},
			ITEM_BUY, 			= #{item_buy},
			ITEM_SHORT_DETAIL, 	= #{item_short_detail},
			ITEM_UPDATEDATE, 	= SYSDATE
			GRADE, 				= #{grade},
			GEN, 				= #{gen},
			RAM_TYPE, 			= #{ram_type},
			M2, 				= #{m2},
			F_FACTOR			= #{f_factor}
		WHERE
			ITEM_NO 			= #{item_no}
    </update>
    <delete id="item_delete" parameterType="Integer">
    	DELETE FROM
    		ITEM_TBL
    	WHERE
    		ITEM_NO = #{item_no}
    </delete>
    
</mapper>